@CHARSET "UTF-8";

html, body {
	height: 100%;
}

.form-control {
	height: auto;
}

.form-control:focus:required {
	border: 2px solid #E74C3C;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.form-horizontal table td:last-child {
	color: #E74C3C;
}

header {
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 1000;
}

footer {
	height: 124px;
	background: #ECF0F1 none repeat scroll 0% 0%;
	margin-top: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	width: 100%;
	position: fixed;
	bottom:0;
	z-index: 100;
}

footer #footer-resources {
	text-align: right;
}

footer #footer-resources i {
	color: #7B8A8B;
	font-size: 28.5px;
	margin-left: 0.5em;
}

.wrap {
	min-height: 100%;
	margin-bottom: -124px;
}

.body-container-wrap {
	top: 100px;
	margin-bottom: 124px;
}

.wrap:AFTER {
	height: 124px;
	content: "";
	display: block;
}

.body-container {
	position: relative;
}

.table-striped thead th:first-child {
	width: 0px;
}

.block-shadow {
	box-shadow: 0px 5px 10px;
}

#footer-copyright>p {
	margin-bottom: 0px;
}

