<footer style="box-shadow: 0 0 10px;">
	<div class="container">
		<div class="row">
			<div id="footer-copyright" class="col-md-6">
				<p>{{ 'footer.author'|trans|raw }}</p>
				<p>{{ 'footer.mit_license'|trans|raw }}</p>
				<p>{{ 'footer.vendors'|trans|raw }}</p>
			</div>
			<div id="footer-resources" class="col-md-6">
				<p>
					<a href="https://twitter.com/eugenmihailescu"><i style="color:#1DA1F2" class="fa fa-twitter"></i></a>
					<a href="https://www.facebook.com/eugenmihailescu"><i style="color:#47639E" class="fa fa-facebook"></i></a>
					<a href="http://mynixworld.info"><i style="color:#F57900" class="fa fa-rss"></i></a>
				</p>
			</div>
		</div>
	</div>
</footer>